## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [121]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [89]:
s="Hi there Sam"

In [90]:
print(s.split(" "))

['Hi', 'there', 'Sam']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [91]:
planet="Earth"
diameter=12742

In [92]:
print("The diameter of {} is {} kilometers".format(planet,diameter))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [93]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [94]:
lst[3][1][2]

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [95]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [96]:
d['k1'][3::-1][0]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [97]:
list is not tuple, tuple is not list

(True, True)

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [98]:
s="user@domain.com"

In [99]:
def grab(a):
  return a[5:]
grab(s)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [104]:
s="Sam is a dog!,Dog is Sam "

In [105]:
def find(a):
  if "dog" in a:
    print("True")
find(s)

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [109]:
s="Sam is a dog!! and Sparkle is a other dog!!"

In [110]:
def count_dog(a):
  return a.count("dog")
count_dog(s)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [112]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [113]:
caught_speeding(90,False)

'Big Ticket'

In [114]:
caught_speeding(70,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [115]:
employee=[10000,12000,14000,16000,18000]
tot=0
for i in range(0,len(employee)):
  print("Employee",i,":",employee[i])
  tot=tot+employee[i]
print("Total Salary Expenditure :",tot)

Employee 0 : 10000
Employee 1 : 12000
Employee 2 : 14000
Employee 3 : 16000
Employee 4 : 18000
Total Salary Expenditure : 70000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [120]:
dict1={"Empid":110001,"Empname":"Sheela","Basicpay":50000}
dict2={"DeptName":"Coding","DeptId":10002}
dict1.update(dict2)
print(dict1)

{'Empid': 110001, 'Empname': 'Sheela', 'Basicpay': 50000, 'DeptName': 'Coding', 'DeptId': 10002}